#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border :2p solid black;
  width: 200px;
  height: 200px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  font-family: nanregular;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
  font-family: nanregular;
}

#container a {
  font-family: nanregular;
  text-decoration: none;
}